h1{
    color: black
}
.Header{
    background-color: red;
    display:flex;
    justify-content: space-between;

}
.Grid{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.Content{
    display:flex;
    flex-direction: column;
    justify-content: first baseline;
    align-items: center;
}
body{
    background-color: white;
}
.Footer{
    display:flex;
    justify-content: flex-end;
}
h1{
    color: white;
    border: 10px solid red;
    background-color: red;
}
body{
    background-color: coral;
}
img{
    border: 5px solid black;
    border-radius: 40px;
}
p{
    font-family: comic sans ms;
    font-weight: italic;
}
ol,ul{
    font-family: comic sans ms;
}

.Projects{
    position:relative
}
.Projects p{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    opacity:0
}
.Projects:hover p{
    opacity:1
}
.Projects:hover img{
    opacity:0.33;
    transform:scale(1.2);
}
a:link {
    color:white;
}
a:visited{
    color:white
}
.Menu{
    display:flex;
    margin-right: 30px;
}
.Menu a{
    margin-left: 30px;
}